body{
    background: #43cea2; 
    background: -webkit-linear-gradient(to right, #43cea2, #185a9d);
    background: linear-gradient(to right, #43cea2, #185a9d);
    font-family: "Josefin Sans", sans-serif;
}

